.product-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    z-index:1;
    gap: 2em;
    position: relative;
    background-color:#CBB8AC;
    flex-direction: row;

    

}
.product-services{
    width: 200px;

}



