.img-container{
    position: relative;
    margin: 1em;
}
.items-price{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
border-radius: 50%;
height: 70%;
width: 70%;
background-color: cornsilk;
z-index: -1;
}


.img-container img {
    width: 100%;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width:100% ;
    height: 100%;
    top: 0;
    z-index: 1000;
gap: 1em;
opacity: 0;
background-color: rgba(0, 0, 0, 0.5);


}
.icons:hover{
    opacity: 1;

}
.icon-img{
    display: flex;
    background-color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 50%;

    
    
}
.icon-img:hover{
    transition: .3 all ease ;
    transform: scale(1.5);
}

