.login-container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
    background-color:white;
    margin: 2em 4em;  
}
.img-container2{
    background:linear-gradient(rgba(59,119,121,0.8),rgba(50,112,114,0.8)),url("../Images/odhisphoto.jpeg");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.img-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    margin-top: 35%;
    gap: 1em;
}
.login-container h5{
    font-size: 2.5rem;
    text-align: center;
    margin: 1.5em 0;
    color: cadetblue;


}
.login-container  h1{
    font-size:3rem ;
    text-align: center;
    color: cadetblue;
    margin-bottom: 2em;
    
}


.visibility{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    
}

.password-input {
    width: 100%;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1em;
    
}

.input-border {
    height: 3px;
    background-color: grey;
}

.input-container {
    position: relative;
    width: 100%;
    transition: all .5s ease;
    margin: 1em 0;
}

.input:focus ~ .label-input {
    position: absolute;
    left: 0;
    top: -10px;
visibility: visible;
    

}

.icon {
    position: absolute;
    top: 34%;
    left: 96%;
    height: fit-content;
}

.input:focus ~ .input-border{
background-color: teal;
}

.label-input {
    position: absolute;
    visibility: hidden;
}

.input{
    margin-top: 2em;
    width: 100%;
    padding: 1em;
}
.btn{
    padding: 1em  15em;
    width: 100%;
    border-radius: 2px;
    background-color:#3F7173;
    color: white;
    font-size: 1rem;
    box-shadow: none;
    margin-bottom: 1em;
    
}
.check{
    display: flex;
    text-align: center;
    justify-content: space-between; 

}
.check p{
    font-size: 1.5rem;
    color:cadetblue;
    
}
.Account{
    display: flex;
    margin: 2em 0;
    font-size: 1.5rem;
    gap: 1em;
}
.Account  input{
    padding: 1em  2em;
    text-align: center;
    color: cadetblue;
    font-size: 1rem;
    border-color: cadetblue;
    border-radius: 4px;

       
}
.copy{
    text-align: center;
    font-size: 1.5rem;
    color: cadetblue;
}
.value{
    display: flex;
    align-items: center;
    gap: 1em;
}
.products{
    position: relative;
}






@media (max-width:810px),(max-width:414px){
    .img-container2{
        display: none;
    }
    .check p{
        font-size: 1rem;
    }
    .login-container h1{
        font-size: 2rem;
    }
    .login-container h5{
        font-size: 1.5rem;
    }
    
    
}