.login-container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
    background-color:white;
    margin: 2em 4em;  
}
.img-container{
    background:linear-gradient(rgba(59,119,121,0.8),rgba(50,112,114,0.8)),url("../Images/odhisphoto.jpeg");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.img-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    margin-top: 35%;
    gap: 1em;
}
.login-container h5{
    font-size: 2.5rem;
    text-align: center;
    margin: 1.5em 0;
    color: cadetblue;


}
.login-container  h1{
    font-size:3rem ;
    text-align: center;
    color: cadetblue;
    margin-bottom: 2em;
    
}
.Email{
    margin: 2em 0;
    border: none;
    outline: none;
    border-bottom:4px solid cadetblue ;
    width: 800px;    
}
.password{
    border: none;
    border-bottom: 4px solid grey;
    outline: none;
    width: 800px;
     
}

.visibility{
    display: flex;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    padding: 1em  15em;
    width: 800px;
    border-radius: 2px;
    background-color:#3F7173;
    color: white;
    font-size: 1rem;
    box-shadow: none;
}
.check{
    display: flex;
    text-align: center;
    justify-content: space-between; 

}
.check p{
    font-size: 1.5rem;
    color:cadetblue;
    
}
.Account{
    display: flex;
    margin: 2em 0;
    font-size: 1.5rem;
    gap: 1em;
}
.Account  input{
    padding: 1em  2em;
    text-align: center;
    color: cadetblue;
    font-size: 1rem;
    border-color: cadetblue;
    border-radius: 4px;

       
}
.copy{
    text-align: center;
    font-size: 1.5rem;
    color: cadetblue;
}
.value{
    display: flex;
    align-items: center;
    gap: 1em;
}
.products{
    position: relative;
}
.label{
    position: absolute;
    top: 10px;
    left:10px ;
    transition: all .5s  ease;

}
.Email:focus~.label{
    top: 0;
    left: 0;
    visibility: visible;
    color: cadetblue;
}
.visibility{
    position: relative;
}
.label-word{
    position: absolute;
    top: 20px;
    left: 10px;
    transition: all .5s  ease;
}
.password:focus~.label-word{
    top: 0;
    left: 0;
    visibility: visible;
    color: grey;
}