.Nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.language{
    cursor: pointer;
}

.search-container{
    display: flex;
    border:solid 1px grey;
    padding: .2em .4em;
    border-radius: 5px;
}
.input{
    border: none;
    outline: none;
}
.span{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1%;
    margin-left: 2em;
    flex:1
}
.right{
    flex:1
}

.left{
    flex:1
}

.prise{
    color: red;
}
.right ul a{
    margin: 2em;
    list-style-type: none;
    text-decoration: none;
}

.right ul a:hover{
    color: black;
}
.list{
    display: flex;
    align-items: center;
    gap: 1em;
    list-style-type: none;
}
